/*!
Theme Name: Brand Boost
Theme URI: http://underscores.me/
Author: Daron Spence
Author URI: http://502mediagroup.com
Description: Brand Boost Theme
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: brandboost
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Brand Boost is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
	## Asides
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
@import "variables-site/variables-site";
@import "mixins/mixins-master";

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
@import "normalize";

@import "susy";

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@import "typography/typography";

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
@import "elements/elements";

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
@import "forms/forms";

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
@import "navigation/navigation";

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
@import "modules/accessibility";

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
@import "modules/alignments";

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
@import "modules/clearings";

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
@import "site/secondary/widgets";

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
@import "site/site";

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
@import "modules/infinite-scroll";

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
@import "media/media";

$light-blue : #6ccff6;
$turquoise : #63c7b2;
$blue : #196EA3;
$gold : #f8C53A;
$light-grey: #F2F4F8;
$grey: #6D6E70;
$dark-grey: #4c4c4c;
$white : #FFFFFF;
$black : #404041;

$pink : #E1887C;

$large : 1000px;

$susy: (
  flow: ltr,
  math: fluid,
  output: float,
  gutter-position: after,
  container: 1440px,
  container-position: center,
  columns: 12,
  gutters: .25,
  column-width: false,
  global-box-sizing: border-box,
  last-flow: to
);

* {
	box-sizing: border-box;
}

body {
	background: url('bg.png');
	font-family: 'proxima-nova', arial, sans-serif;
	padding-top: 2em;
}

a, a:visited {
	color: $blue;
	border-bottom: 2px solid;
	text-decoration: none;
	transition: all 100ms linear;

	&:hover {
		color: $pink;
	}
}

.black-bg {
	background: $black;
	color: $white;

	h2, h3, h4 {
		color: $pink;
	}
}

.pink-bg {
	background: $pink;
	
	.small {
		color: $white;
	}

	h2, h3, h4 {
		color: $white;
	}

	a {
		&:hover {
			color: $white;
		}
	}
}

.blue-bg {
	background: $blue;
}


.container {
	@include container();
}

.half {
	@media screen and (min-width: 60em){
		@include span(6);

		&:nth-child(even) {
			@include span(last 6);
		}
	}
}

* .third {
	@media screen and (min-width: 60em){
		@include span(4);

		&:nth-of-type(3n + 3) {
			@include span(last 4);
		}
	}
}

.quarter {
	@media screen and (min-width: 60em){
		@include span(3);

		&:last-child {
			@include span(last 3);
		}
	}
}

.centered, .center {
	text-align: center;
}

.move-down {
	margin-top: 3em;
}

.bold {
	font-weight: bold;
}

.container {
	@include container;
}

.give-padding {
	@include give-padding;
}

.top.container {
	
	&.pre-launch {
		@media screen and ( min-width: $large ){
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}

	p {
		font-size: 1.25em;
		font-weight: 300;
	}

	.logo {
		background: url('logo.png');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
		margin: 0 auto;
		position: relative;
		padding-top: 50%;
		flex: 1;
		max-width: 15em;

		> a {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			border: none;
			bottom: 0;
		}

		@media screen and ( min-width: $large ){
			padding-top: 35%;
		}

		span {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	.tagline {
		font-size: 3em;
		margin: 0;
		font-weight: 400;
	}

	.countdown {
		flex: 2;

		@media screen and ( max-width: 640px ){

			margin-top: 2em;

			#ujiCountdown span.countdown_row {
			    display: flex;
			    align-items: center;
			    justify-content: center;
			    flex-direction: column;

			    .countdown_section {
			    	display: inline-flex;
			    	flex-direction: row;
			    	float: none;
			    	flex-wrap: wrap;
			    	margin-bottom: 2em;

			    	.countdown_amount {
			    		width: 48% !important;
			    		box-sizing: border-box;
			    		min-width: 0 !important;
			    	}

			    }

			    .countdown_txt {
			    	width: 100%;
			    	text-align: center;
			    	text-transform: uppercase !important;
			    }
			
			}

		}

		.ujic-classic span.countdown_txt {
			text-transform: uppercase;
		}


		.banner {
			background: $pink;
			color: $white;
			text-align: center;
			font-size: 1.5em;
			padding: .25em .5em;
			text-transform: uppercase;
			font-family: 'Montserrat';
			max-width: 622px;
			margin: 1em auto;
		}

		p {
			max-width: 622px;
			margin: 0 auto;
		}
	}

}

.home .pink-bg {
	padding-top: 3em;
	padding-bottom: 3em;

	.container {
		@media screen and (min-width: 60em){
			display: flex;
			align-items: center;
		}
	}

	.apply {
		display: inline-block;
		color: $blue;
		font-size: 2em;
		border: none;
		position: relative;
		transition: all 100ms linear;

		&:after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			height: 3px;
			width: 35%;
			background: $blue;
			transition: all 100ms linear;
		}

		&:hover {
			color: $white;

			&:after {
				background: $white;
				width: 100%;
			}
		}
	}
}

.apply-now, .apply-now:visited {
	background: $pink;
	color: $white;
	display: block;
	text-align: center;
	font-size: 3em;
	padding: .25em .5em;
	border: none !important;
	margin-top: 1em;

	&:hover {
		color: $blue;
	}
}

.mission {
	background: rgba( $blue, .75) !important;

	.small, h2, h3, h4, p {
		color: $white;
	}
}

a.button {
	border: 2px solid $blue;
	background: $blue;
	text-transform: uppercase;
	color: $white;
	padding: .25em .5em;
	line-height: 1;

	&:hover {
		background: $white;
		color: $blue;
	}
}

.gform_wrapper {
	color: $white;
	max-width: 560px !important;
	margin: 0 auto 2em !important;

	.gform_button {
		background: $blue;
		box-shadow: none !important;
		border-radius: 0 !important;
		border: 2px solid $blue;
		text-shadow: none !important;
		text-transform: uppercase;
		color: $white;

		&:hover {
			color: $blue;
			background: $white;
			border: 2px solid $blue;
		}
	}
}

.share {
	margin-bottom: 2em;

	.header {
		color: $blue;
		font-size: 2em;
		text-transform: uppercase;
	}
	a {
		display: inline-block;
		font-size: 3em;
		background: $pink;
		width: 1.5em;
		height: 1.5em;
		border: none;
		display: inline-flex;
		align-items: center;
		text-align: center;
		justify-content: center;
		text-decoration: none;
		color: $white;
		transition: all 100ms linear;
		margin: .25em .5em;

		&:hover {
			color: $blue;
			border: none;
		}
	}
	.fa {
		position: relative;
	}
}


.site-info {
	.fa-heart {
		color: $pink;
	}
}

h2 {
	font-size: 3em;
	line-height: 1;
	
	.underline {
		border-bottom: 2px solid;
	}
}

.title {
	text-align: right;
	border: 3px solid $white;
	position: relative;
	text-transform: uppercase;
	max-width: 560px;
	padding: .5em .25em;
	margin: 0 auto;
	font-weight: 300;
	letter-spacing: 2px;

	@media screen and (min-width: 450px){
		text-align: center;
	}

	.number {
		padding-top: .85em;
		line-height: 1;
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		display: inline-block;
		background: $white;
		text-align: center;
		width: 4em;
		color: $black;
	}
}

.small {
	font-weight: 300;
	color: #888;
	max-width: 560px;
	margin: 1em auto 4em;
}

.the-content {
	font-weight: 300;
	max-width: 560px;
	margin: 4em auto 4em;
}

.pull-image-left {
	position: relative;
	background-position: 200px center;
	background-repeat: no-repeat;
	background-size: 175px;

	@media screen and (min-width: 1320px){

		&:hover {

			&:before {
				transition: all 200ms linear;
				transform: rotateY(360deg);
			}
		}

		&:before {
			opactiy: 1;
		}

		&.image-1:before {
			content: '';
			position: absolute;
			background-size: contain;
			left: 200px;
			width: 175px;
			height: 175px;
			background-image: url('ufo.png');
		}

		&.image-2:before {
			content: '';
			position: absolute;
			background-size: contain;
			left: 200px;
			width: 175px;
			height: 175px;
			background-image: url('flag.png');
		}

		&.image-3:before {
			content: '';
			position: absolute;
			background-size: contain;
			left: 200px;
			width: 175px;
			height: 175px;
			background-image: url('astronaut.png');
		}

		&.image-4:before {
			content: '';
			position: absolute;
			background-size: contain;
			left: 200px;
			width: 175px;
			height: 175px;
			background-image: url('rocket.png');
		}

	}

}

hr.stars {
	max-width: 40em;
	border: none;
	background: url('divider.png');
	height: 110px;
	margin: 6em auto;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

.what-it-takes {
	margin: 0;
	margin-top: .5em;
}

.launched footer, .apply footer {
	background: $blue;
	color: $white;
	border-top: 2em solid lighten( $blue, 10% );
	padding-top: 2em;

	@media screen and (min-width: 60em){
		> .container {
			display: flex;
			align-items: center;
		}
	}

	.our-logo {
		display: block;
		margin: 0 auto;
		width: 60%;
	}

	h2 {
		word-break: break-word;
		text-align: center;
	}

	.share {
		.header {
			color: $white;
		}
		a {
			margin: .25em;
		}
	}

	.banner {
		background: $white;
		color: $blue;
		text-transform: uppercase;
		text-align: center;
		padding: .25em .5em;
	}

	.countdown {
			
			margin-top: 1em;

			.ujic-classic .countdown_row {
			    display: flex !important;
			    text-align: center;
			    align-items: center;
			    justify-content: center;
			    flex-direction: row;
			    flex-wrap: no-wrap;

			    .countdown_section, .uji_sec {
			    	display: flex;
			    	flex-direction: row;
			    	float: none;
			    	flex-wrap: wrap;
			    	margin: 0 15px 0 0 !important;
			    	margin-bottom: 2em !important;
			    	align-items: center;

			    	@media screen and ( max-width: 1200px ){
						margin-right: 0 !important;
			    	}

			    	.countdown_section {
			    		margin: 0 !important;
			    	}

			    	.countdown_amount {
			    		width: 45% !important;
			    		font-size: 40px !important;
			    		box-sizing: border-box;
			    		min-width: 0 !important;
			    		background: $blue !important;
			    		color: $white !important;
			    		border-radius: 0 !important;
			    		border: 3px solid $white !important;
			    		padding: 0 !important;

			    		&:nth-child(2) {
			    			position: relative;
			    			left: -3px;
			    		}

			    		@media screen and ( max-width: 1200px ){
							padding: 0 !important;
			    		}

			    	}

			    }

			    .countdown_txt {
			    	width: 100%;
			    	text-align: center;
			    	color: $white !important;
			    	position: relative;
			    	left: -2px;
			    	text-transform: uppercase !important;
			    }

		}

		.ujic-classic span.countdown_txt {
			text-transform: uppercase;
		}
	}
}

.apply {

	h1.centered span {
		color: $blue;
		border-bottom: 2px solid;
		font-size: 1.5em;
	}

	.top.container {

		.logo {
			background-image: url('ufo.png');
		}

	}
}

#page .vote-page {

	.top.container .logo {
	    background-image: url("logo.png");
	}

	.countdown {

			margin-top: 1em;
			margin: 4em 0;

			h1.centered {
				margin: 0;
				margin-bottom: .5em;
			}

			.clear p {
				font-size: 1em !important; 
			}


			.ujiCountdown {
				display: block;
			}

			@media screen and ( max-width: 640px ){

				margin-top: 2em;

				#ujiCountdown span.countdown_row {
				    display: flex;
				    align-items: center;
				    justify-content: center;
				    flex-direction: column;

				    .countdown_section {
				    	display: inline-flex;
				    	flex-direction: row;
				    	float: none;
				    	flex-wrap: wrap;
				    	margin-bottom: 2em;

				    	.countdown_amount {
				    		width: 46% !important;
				    		box-sizing: border-box;
				    		min-width: 0 !important;
				    	}

				    }

				    .countdown_txt {
				    	width: 100%;
				    	text-align: center;
				    	text-transform: uppercase !important;
				    }
				
				}

			}

			.ujic-classic .countdown_row {
			    display: flex !important;
			    text-align: center;
			    align-items: center;
			    justify-content: center;
			    flex-direction: row !important;
			    flex-wrap: no-wrap;

			    .countdown_section, .uji_sec {
			    	display: flex;
			    	flex-direction: row;
			    	float: none;
			    	flex-wrap: wrap;
			    	margin: 0 15px 0 0 !important;
			    	margin-bottom: 2em !important;
			    	align-items: center;

			    	@media screen and ( max-width: 1200px ){
						margin-right: 0 !important;
			    	}

			    	.countdown_section {
			    		margin: 0 !important;
			    	}

			    	.countdown_amount {
			    		width: 45% !important;
			    		font-size: 40px !important;
			    		box-sizing: border-box;
			    		min-width: 0 !important;
			    		background: $blue !important;
			    		color: $white !important;
			    		border-radius: 0 !important;
			    		border: 3px solid $white !important;
			    		padding: 0 !important;

			    		&:nth-child(2) {
			    			position: relative;
			    			left: -3px;
			    		}

			    		@media screen and ( max-width: 1200px ){
							padding: 0 !important;
			    		}

			    	}

			    }

			    .countdown_txt {
			    	width: 100%;
			    	text-align: center;
			    	color: $pink !important;
			    	position: relative;
			    	left: -2px;
			    	text-transform: uppercase !important;
			    }

		}

	}

	.organization {
		background: $pink;
		margin: 2em;

		@media screen and (min-width: 40em){
			float: left;
			width: 45%;
			margin: 2em 2.5%;

			&:nth-of-type(2n+3){
				clear: left;
			}
		}

		@media screen and (min-width: 50em){
			float: left;
			width: 30%;
			margin: 2em 1.5%;

			&:nth-of-type(2n+3){
				clear: none;
			}

			&:nth-of-type(3n+4){
				clear: left;
			}
		}
		
		padding: 1em;
		

		

		h3 {
			text-transform: uppercase;
			text-align: left;
			font-size: 1.25em;
			letter-spacing: 2px;
		}

		img {
			display: block;
			text-align: center;
			margin: 0 auto;
		}

		.vote.button {
			text-align: center;
			display: block;
			margin: 0 auto;
			background: $blue;
			font-size: 1.5em;
			box-shadow: none;
			text-shadow: none;
			border-radius: 0;
			color: $white;
			border: 4px solid $blue;
			text-transform: uppercase;
			letter-spacing: 2px;
			vertical-align: middle;
			padding: .75em 1em .6em;

			&:hover {
				background: $white;
				color: $blue;
			}
		}

		.small {
			margin-bottom: 1em;
		}
	}
}

#vote-form {
	> h1 {
		text-align: center;
		font-size: 1.25em;

		span {
			font-size: 2em;
			line-height: 1;
		}
	}

	.gform_wrapper {
		color: $blue;	

		.gform_footer {
			text-align: center;
		}
	}

	.share {

		.header {
			font-size: 1em;
		}
		.buttons a {
			width: 20%;
			float: left;
			margin: 0 15%;
		}
	}
	
}

.white-popup-block {
    background: #FFF;
    padding: 2em 3em;
    text-align: left;
    max-width: 40em;
    margin: 2em auto;
    position: relative;
}

.apply-now span.button, .apply span.button {
	display: inline-block;
	margin: 1em;
	border: 4px solid #196EA3;
	padding: .25em 1em;
	background: $blue;
	color: $white;

	&:hover {
		color: $blue;
		background: $white;
	}

}

.home #video .apply {

	&:after {
		content: none;
	}
}




