/*!
Theme Name: Brand Boost
Theme URI: http://underscores.me/
Author: Daron Spence
Author URI: http://502mediagroup.com
Description: Brand Boost Theme
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: brandboost
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Brand Boost is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
	## Asides
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  clear: both; }

p {
  margin-bottom: 1.5em; }

dfn, cite, em, i {
  font-style: italic; }

blockquote {
  margin: 0 1.5em; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem; }

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

mark, ins {
  background: #fff9c0;
  text-decoration: none; }

big {
  font-size: 125%; }

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit; }

body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */ }

blockquote, q {
  quotes: "" ""; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: ""; }

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

ul, ol {
  margin: 0 0 1.5em 3em; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */ }

table {
  margin: 0 0 1.5em;
  width: 100%; }

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1;
  padding: .6em 1em .4em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8); }
  button:hover,
  input[type="button"]:hover,
  input[type="reset"]:hover,
  input[type="submit"]:hover {
    border-color: #ccc #bbb #aaa;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02); }
  button:active, button:focus,
  input[type="button"]:active,
  input[type="button"]:focus,
  input[type="reset"]:active,
  input[type="reset"]:focus,
  input[type="submit"]:active,
  input[type="submit"]:focus {
    border-color: #aaa #bbb #bbb;
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15); }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  textarea:focus {
    color: #111; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
  padding: 3px; }

textarea {
  padding-left: 3px;
  width: 100%; }

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  color: royalblue; }
  a:visited {
    color: purple; }
  a:hover, a:focus, a:active {
    color: midnightblue; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%; }
  .main-navigation ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0; }
    .main-navigation ul ul {
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      float: left;
      position: absolute;
      top: 1.5em;
      left: -999em;
      z-index: 99999; }
      .main-navigation ul ul ul {
        left: -999em;
        top: 0; }
      .main-navigation ul ul li:hover > ul, .main-navigation ul ul li.focus > ul {
        left: 100%; }
      .main-navigation ul ul a {
        width: 200px; }
    .main-navigation ul li:hover > ul,
    .main-navigation ul li.focus > ul {
      left: auto; }
  .main-navigation li {
    float: left;
    position: relative; }
  .main-navigation a {
    display: block;
    text-decoration: none; }

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block; }

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none; }

  .main-navigation ul {
    display: block; } }
.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden; }
.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%; }
.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%; }

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }
  .screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */ }

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table; }

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both; }

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 1.5em;
  /* Make sure select elements fit in widgets. */ }
  .widget select {
    max-width: 100%; }

/* Search widget. */
.widget_search .search-submit {
  display: none; }

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
  display: block; }

.hentry {
  margin: 0 0 1.5em; }

.byline,
.updated:not(.published) {
  display: none; }

.single .byline,
.group-blog .byline {
  display: inline; }

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0; }

.page-links {
  clear: both;
  margin: 0 0 1.5em; }

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none; }

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word; }

.bypostauthor {
  display: block; }

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none; }

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block; }

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%; }

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%; }
  .wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .wp-caption .wp-caption-text {
    margin: 0.8075em 0; }

.wp-caption-text {
  text-align: center; }

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%; }
  .gallery-columns-2 .gallery-item {
    max-width: 50%; }
  .gallery-columns-3 .gallery-item {
    max-width: 33.33%; }
  .gallery-columns-4 .gallery-item {
    max-width: 25%; }
  .gallery-columns-5 .gallery-item {
    max-width: 20%; }
  .gallery-columns-6 .gallery-item {
    max-width: 16.66%; }
  .gallery-columns-7 .gallery-item {
    max-width: 14.28%; }
  .gallery-columns-8 .gallery-item {
    max-width: 12.5%; }
  .gallery-columns-9 .gallery-item {
    max-width: 11.11%; }

.gallery-caption {
  display: block; }

* {
  box-sizing: border-box; }

body {
  background: url("bg.png");
  font-family: 'proxima-nova', arial, sans-serif;
  padding-top: 2em; }

a, a:visited {
  color: #196EA3;
  border-bottom: 2px solid;
  text-decoration: none;
  -webkit-transition: all 100ms linear;
          transition: all 100ms linear; }
  a:hover, a:visited:hover {
    color: #E1887C; }

.black-bg {
  background: #404041;
  color: #FFFFFF; }
  .black-bg h2, .black-bg h3, .black-bg h4 {
    color: #E1887C; }

.pink-bg {
  background: #E1887C; }
  .pink-bg .small {
    color: #FFFFFF; }
  .pink-bg h2, .pink-bg h3, .pink-bg h4 {
    color: #FFFFFF; }
  .pink-bg a:hover {
    color: #FFFFFF; }

.blue-bg {
  background: #196EA3; }

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto; }
  .container:after {
    content: " ";
    display: block;
    clear: both; }

@media screen and (min-width: 60em) {
  .half {
    width: 49.1525423729%;
    float: left;
    margin-right: 1.6949152542%; }
    .half:nth-child(even) {
      width: 49.1525423729%;
      float: right;
      margin-right: 0; } }

@media screen and (min-width: 60em) {
  * .third {
    width: 32.2033898305%;
    float: left;
    margin-right: 1.6949152542%; }
    * .third:nth-of-type(3n + 3) {
      width: 32.2033898305%;
      float: right;
      margin-right: 0; } }

@media screen and (min-width: 60em) {
  .quarter {
    width: 23.7288135593%;
    float: left;
    margin-right: 1.6949152542%; }
    .quarter:last-child {
      width: 23.7288135593%;
      float: right;
      margin-right: 0; } }

.centered, .center {
  text-align: center; }

.move-down {
  margin-top: 3em; }

.bold {
  font-weight: bold; }

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto; }
  .container:after {
    content: " ";
    display: block;
    clear: both; }

.give-padding {
  padding-left: 0.5em;
  padding-right: 0.5em; }
  @media screen and (min-width: 1440px) {
    .give-padding {
      padding-left: 0;
      padding-right: 0; } }

@media screen and (min-width: 1000px) {
  .top.container.pre-launch {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; } }
.top.container p {
  font-size: 1.25em;
  font-weight: 300; }
.top.container .logo {
  background: url("logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 auto;
  position: relative;
  padding-top: 50%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 15em; }
  .top.container .logo > a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border: none;
    bottom: 0; }
  @media screen and (min-width: 1000px) {
    .top.container .logo {
      padding-top: 35%; } }
  .top.container .logo span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
.top.container .tagline {
  font-size: 3em;
  margin: 0;
  font-weight: 400; }
.top.container .countdown {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2; }
  @media screen and (max-width: 640px) {
    .top.container .countdown {
      margin-top: 2em; }
      .top.container .countdown #ujiCountdown span.countdown_row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; }
        .top.container .countdown #ujiCountdown span.countdown_row .countdown_section {
          display: -webkit-inline-box;
          display: -webkit-inline-flex;
          display: -ms-inline-flexbox;
          display: inline-flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -webkit-flex-direction: row;
              -ms-flex-direction: row;
                  flex-direction: row;
          float: none;
          -webkit-flex-wrap: wrap;
              -ms-flex-wrap: wrap;
                  flex-wrap: wrap;
          margin-bottom: 2em; }
          .top.container .countdown #ujiCountdown span.countdown_row .countdown_section .countdown_amount {
            width: 48% !important;
            box-sizing: border-box;
            min-width: 0 !important; }
        .top.container .countdown #ujiCountdown span.countdown_row .countdown_txt {
          width: 100%;
          text-align: center;
          text-transform: uppercase !important; } }
  .top.container .countdown .ujic-classic span.countdown_txt {
    text-transform: uppercase; }
  .top.container .countdown .banner {
    background: #E1887C;
    color: #FFFFFF;
    text-align: center;
    font-size: 1.5em;
    padding: .25em .5em;
    text-transform: uppercase;
    font-family: 'Montserrat';
    max-width: 622px;
    margin: 1em auto; }
  .top.container .countdown p {
    max-width: 622px;
    margin: 0 auto; }

.home .pink-bg {
  padding-top: 3em;
  padding-bottom: 3em; }
  @media screen and (min-width: 60em) {
    .home .pink-bg .container {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }
  .home .pink-bg .apply {
    display: inline-block;
    color: #196EA3;
    font-size: 2em;
    border: none;
    position: relative;
    -webkit-transition: all 100ms linear;
            transition: all 100ms linear; }
    .home .pink-bg .apply:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 3px;
      width: 35%;
      background: #196EA3;
      -webkit-transition: all 100ms linear;
              transition: all 100ms linear; }
    .home .pink-bg .apply:hover {
      color: #FFFFFF; }
      .home .pink-bg .apply:hover:after {
        background: #FFFFFF;
        width: 100%; }

.apply-now, .apply-now:visited {
  background: #E1887C;
  color: #FFFFFF;
  display: block;
  text-align: center;
  font-size: 3em;
  padding: .25em .5em;
  border: none !important;
  margin-top: 1em; }
  .apply-now:hover, .apply-now:visited:hover {
    color: #196EA3; }

.mission {
  background: rgba(25, 110, 163, 0.75) !important; }
  .mission .small, .mission h2, .mission h3, .mission h4, .mission p {
    color: #FFFFFF; }

a.button {
  border: 2px solid #196EA3;
  background: #196EA3;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: .25em .5em;
  line-height: 1; }
  a.button:hover {
    background: #FFFFFF;
    color: #196EA3; }

.gform_wrapper {
  color: #FFFFFF;
  max-width: 560px !important;
  margin: 0 auto 2em !important; }
  .gform_wrapper .gform_button {
    background: #196EA3;
    box-shadow: none !important;
    border-radius: 0 !important;
    border: 2px solid #196EA3;
    text-shadow: none !important;
    text-transform: uppercase;
    color: #FFFFFF; }
    .gform_wrapper .gform_button:hover {
      color: #196EA3;
      background: #FFFFFF;
      border: 2px solid #196EA3; }

.share {
  margin-bottom: 2em; }
  .share .header {
    color: #196EA3;
    font-size: 2em;
    text-transform: uppercase; }
  .share a {
    display: inline-block;
    font-size: 3em;
    background: #E1887C;
    width: 1.5em;
    height: 1.5em;
    border: none;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-decoration: none;
    color: #FFFFFF;
    -webkit-transition: all 100ms linear;
            transition: all 100ms linear;
    margin: .25em .5em; }
    .share a:hover {
      color: #196EA3;
      border: none; }
  .share .fa {
    position: relative; }

.site-info .fa-heart {
  color: #E1887C; }

h2 {
  font-size: 3em;
  line-height: 1; }
  h2 .underline {
    border-bottom: 2px solid; }

.title {
  text-align: right;
  border: 3px solid #FFFFFF;
  position: relative;
  text-transform: uppercase;
  max-width: 560px;
  padding: .5em .25em;
  margin: 0 auto;
  font-weight: 300;
  letter-spacing: 2px; }
  @media screen and (min-width: 450px) {
    .title {
      text-align: center; } }
  .title .number {
    padding-top: .85em;
    line-height: 1;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: inline-block;
    background: #FFFFFF;
    text-align: center;
    width: 4em;
    color: #404041; }

.small {
  font-weight: 300;
  color: #888;
  max-width: 560px;
  margin: 1em auto 4em; }

.the-content {
  font-weight: 300;
  max-width: 560px;
  margin: 4em auto 4em; }

.pull-image-left {
  position: relative;
  background-position: 200px center;
  background-repeat: no-repeat;
  background-size: 175px; }
  @media screen and (min-width: 1320px) {
    .pull-image-left:hover:before {
      -webkit-transition: all 200ms linear;
              transition: all 200ms linear;
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg); }
    .pull-image-left:before {
      opactiy: 1; }
    .pull-image-left.image-1:before {
      content: '';
      position: absolute;
      background-size: contain;
      left: 200px;
      width: 175px;
      height: 175px;
      background-image: url("ufo.png"); }
    .pull-image-left.image-2:before {
      content: '';
      position: absolute;
      background-size: contain;
      left: 200px;
      width: 175px;
      height: 175px;
      background-image: url("flag.png"); }
    .pull-image-left.image-3:before {
      content: '';
      position: absolute;
      background-size: contain;
      left: 200px;
      width: 175px;
      height: 175px;
      background-image: url("astronaut.png"); }
    .pull-image-left.image-4:before {
      content: '';
      position: absolute;
      background-size: contain;
      left: 200px;
      width: 175px;
      height: 175px;
      background-image: url("rocket.png"); } }

hr.stars {
  max-width: 40em;
  border: none;
  background: url("divider.png");
  height: 110px;
  margin: 6em auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; }

.what-it-takes {
  margin: 0;
  margin-top: .5em; }

.launched footer, .apply footer {
  background: #196EA3;
  color: #FFFFFF;
  border-top: 2em solid #208ccf;
  padding-top: 2em; }
  @media screen and (min-width: 60em) {
    .launched footer > .container, .apply footer > .container {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }
  .launched footer .our-logo, .apply footer .our-logo {
    display: block;
    margin: 0 auto;
    width: 60%; }
  .launched footer h2, .apply footer h2 {
    word-break: break-word;
    text-align: center; }
  .launched footer .share .header, .apply footer .share .header {
    color: #FFFFFF; }
  .launched footer .share a, .apply footer .share a {
    margin: .25em; }
  .launched footer .banner, .apply footer .banner {
    background: #FFFFFF;
    color: #196EA3;
    text-transform: uppercase;
    text-align: center;
    padding: .25em .5em; }
  .launched footer .countdown, .apply footer .countdown {
    margin-top: 1em; }
    .launched footer .countdown .ujic-classic .countdown_row, .apply footer .countdown .ujic-classic .countdown_row {
      display: -webkit-box !important;
      display: -webkit-flex !important;
      display: -ms-flexbox !important;
      display: flex !important;
      text-align: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-flex-wrap: no-wrap;
          -ms-flex-wrap: no-wrap;
              flex-wrap: no-wrap; }
      .launched footer .countdown .ujic-classic .countdown_row .countdown_section, .launched footer .countdown .ujic-classic .countdown_row .uji_sec, .apply footer .countdown .ujic-classic .countdown_row .countdown_section, .apply footer .countdown .ujic-classic .countdown_row .uji_sec {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
        float: none;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        margin: 0 15px 0 0 !important;
        margin-bottom: 2em !important;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        @media screen and (max-width: 1200px) {
          .launched footer .countdown .ujic-classic .countdown_row .countdown_section, .launched footer .countdown .ujic-classic .countdown_row .uji_sec, .apply footer .countdown .ujic-classic .countdown_row .countdown_section, .apply footer .countdown .ujic-classic .countdown_row .uji_sec {
            margin-right: 0 !important; } }
        .launched footer .countdown .ujic-classic .countdown_row .countdown_section .countdown_section, .launched footer .countdown .ujic-classic .countdown_row .uji_sec .countdown_section, .apply footer .countdown .ujic-classic .countdown_row .countdown_section .countdown_section, .apply footer .countdown .ujic-classic .countdown_row .uji_sec .countdown_section {
          margin: 0 !important; }
        .launched footer .countdown .ujic-classic .countdown_row .countdown_section .countdown_amount, .launched footer .countdown .ujic-classic .countdown_row .uji_sec .countdown_amount, .apply footer .countdown .ujic-classic .countdown_row .countdown_section .countdown_amount, .apply footer .countdown .ujic-classic .countdown_row .uji_sec .countdown_amount {
          width: 45% !important;
          font-size: 40px !important;
          box-sizing: border-box;
          min-width: 0 !important;
          background: #196EA3 !important;
          color: #FFFFFF !important;
          border-radius: 0 !important;
          border: 3px solid #FFFFFF !important;
          padding: 0 !important; }
          .launched footer .countdown .ujic-classic .countdown_row .countdown_section .countdown_amount:nth-child(2), .launched footer .countdown .ujic-classic .countdown_row .uji_sec .countdown_amount:nth-child(2), .apply footer .countdown .ujic-classic .countdown_row .countdown_section .countdown_amount:nth-child(2), .apply footer .countdown .ujic-classic .countdown_row .uji_sec .countdown_amount:nth-child(2) {
            position: relative;
            left: -3px; }
          @media screen and (max-width: 1200px) {
            .launched footer .countdown .ujic-classic .countdown_row .countdown_section .countdown_amount, .launched footer .countdown .ujic-classic .countdown_row .uji_sec .countdown_amount, .apply footer .countdown .ujic-classic .countdown_row .countdown_section .countdown_amount, .apply footer .countdown .ujic-classic .countdown_row .uji_sec .countdown_amount {
              padding: 0 !important; } }
      .launched footer .countdown .ujic-classic .countdown_row .countdown_txt, .apply footer .countdown .ujic-classic .countdown_row .countdown_txt {
        width: 100%;
        text-align: center;
        color: #FFFFFF !important;
        position: relative;
        left: -2px;
        text-transform: uppercase !important; }
    .launched footer .countdown .ujic-classic span.countdown_txt, .apply footer .countdown .ujic-classic span.countdown_txt {
      text-transform: uppercase; }

.apply h1.centered span {
  color: #196EA3;
  border-bottom: 2px solid;
  font-size: 1.5em; }
.apply .top.container .logo {
  background-image: url("ufo.png"); }

#page .vote-page .top.container .logo {
  background-image: url("logo.png"); }
#page .vote-page .countdown {
  margin-top: 1em;
  margin: 4em 0; }
  #page .vote-page .countdown h1.centered {
    margin: 0;
    margin-bottom: .5em; }
  #page .vote-page .countdown .clear p {
    font-size: 1em !important; }
  #page .vote-page .countdown .ujiCountdown {
    display: block; }
  @media screen and (max-width: 640px) {
    #page .vote-page .countdown {
      margin-top: 2em; }
      #page .vote-page .countdown #ujiCountdown span.countdown_row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; }
        #page .vote-page .countdown #ujiCountdown span.countdown_row .countdown_section {
          display: -webkit-inline-box;
          display: -webkit-inline-flex;
          display: -ms-inline-flexbox;
          display: inline-flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -webkit-flex-direction: row;
              -ms-flex-direction: row;
                  flex-direction: row;
          float: none;
          -webkit-flex-wrap: wrap;
              -ms-flex-wrap: wrap;
                  flex-wrap: wrap;
          margin-bottom: 2em; }
          #page .vote-page .countdown #ujiCountdown span.countdown_row .countdown_section .countdown_amount {
            width: 46% !important;
            box-sizing: border-box;
            min-width: 0 !important; }
        #page .vote-page .countdown #ujiCountdown span.countdown_row .countdown_txt {
          width: 100%;
          text-align: center;
          text-transform: uppercase !important; } }
  #page .vote-page .countdown .ujic-classic .countdown_row {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    text-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: row !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-flex-wrap: no-wrap;
        -ms-flex-wrap: no-wrap;
            flex-wrap: no-wrap; }
    #page .vote-page .countdown .ujic-classic .countdown_row .countdown_section, #page .vote-page .countdown .ujic-classic .countdown_row .uji_sec {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      float: none;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      margin: 0 15px 0 0 !important;
      margin-bottom: 2em !important;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      @media screen and (max-width: 1200px) {
        #page .vote-page .countdown .ujic-classic .countdown_row .countdown_section, #page .vote-page .countdown .ujic-classic .countdown_row .uji_sec {
          margin-right: 0 !important; } }
      #page .vote-page .countdown .ujic-classic .countdown_row .countdown_section .countdown_section, #page .vote-page .countdown .ujic-classic .countdown_row .uji_sec .countdown_section {
        margin: 0 !important; }
      #page .vote-page .countdown .ujic-classic .countdown_row .countdown_section .countdown_amount, #page .vote-page .countdown .ujic-classic .countdown_row .uji_sec .countdown_amount {
        width: 45% !important;
        font-size: 40px !important;
        box-sizing: border-box;
        min-width: 0 !important;
        background: #196EA3 !important;
        color: #FFFFFF !important;
        border-radius: 0 !important;
        border: 3px solid #FFFFFF !important;
        padding: 0 !important; }
        #page .vote-page .countdown .ujic-classic .countdown_row .countdown_section .countdown_amount:nth-child(2), #page .vote-page .countdown .ujic-classic .countdown_row .uji_sec .countdown_amount:nth-child(2) {
          position: relative;
          left: -3px; }
        @media screen and (max-width: 1200px) {
          #page .vote-page .countdown .ujic-classic .countdown_row .countdown_section .countdown_amount, #page .vote-page .countdown .ujic-classic .countdown_row .uji_sec .countdown_amount {
            padding: 0 !important; } }
    #page .vote-page .countdown .ujic-classic .countdown_row .countdown_txt {
      width: 100%;
      text-align: center;
      color: #E1887C !important;
      position: relative;
      left: -2px;
      text-transform: uppercase !important; }
#page .vote-page .organization {
  background: #E1887C;
  margin: 2em;
  padding: 1em; }
  @media screen and (min-width: 40em) {
    #page .vote-page .organization {
      float: left;
      width: 45%;
      margin: 2em 2.5%; }
      #page .vote-page .organization:nth-of-type(2n+3) {
        clear: left; } }
  @media screen and (min-width: 50em) {
    #page .vote-page .organization {
      float: left;
      width: 30%;
      margin: 2em 1.5%; }
      #page .vote-page .organization:nth-of-type(2n+3) {
        clear: none; }
      #page .vote-page .organization:nth-of-type(3n+4) {
        clear: left; } }
  #page .vote-page .organization h3 {
    text-transform: uppercase;
    text-align: left;
    font-size: 1.25em;
    letter-spacing: 2px; }
  #page .vote-page .organization img {
    display: block;
    text-align: center;
    margin: 0 auto; }
  #page .vote-page .organization .vote.button {
    text-align: center;
    display: block;
    margin: 0 auto;
    background: #196EA3;
    font-size: 1.5em;
    box-shadow: none;
    text-shadow: none;
    border-radius: 0;
    color: #FFFFFF;
    border: 4px solid #196EA3;
    text-transform: uppercase;
    letter-spacing: 2px;
    vertical-align: middle;
    padding: .75em 1em .6em; }
    #page .vote-page .organization .vote.button:hover {
      background: #FFFFFF;
      color: #196EA3; }
  #page .vote-page .organization .small {
    margin-bottom: 1em; }

#vote-form > h1 {
  text-align: center;
  font-size: 1.25em; }
  #vote-form > h1 span {
    font-size: 2em;
    line-height: 1; }
#vote-form .gform_wrapper {
  color: #196EA3; }
  #vote-form .gform_wrapper .gform_footer {
    text-align: center; }
#vote-form .share .header {
  font-size: 1em; }
#vote-form .share .buttons a {
  width: 20%;
  float: left;
  margin: 0 15%; }

.white-popup-block {
  background: #FFF;
  padding: 2em 3em;
  text-align: left;
  max-width: 40em;
  margin: 2em auto;
  position: relative; }

.apply-now span.button, .apply span.button {
  display: inline-block;
  margin: 1em;
  border: 4px solid #196EA3;
  padding: .25em 1em;
  background: #196EA3;
  color: #FFFFFF; }
  .apply-now span.button:hover, .apply span.button:hover {
    color: #196EA3;
    background: #FFFFFF; }

.home #video .apply:after {
  content: none; }
